.dragelement {
cursor: pointer;
margin: 0 3px 3px 0;
padding: 1px 3px;
background: #0086b3;
color: #ffffff;
display: inline-block;
width: auto;
font-size: 1.4em;
height: auto;
}

.dropelement {
  padding-top: 5px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  white-space: nowrap;
  border: none;
  display: inline-block;
  height: 25px;
  background: #ffffff;
  width: 100%;
}

.divfieldheader {
  color: #0086b3;
  font-weight: "bold";
  font-size: 2em;
}

a.dt-button {
  color: #333333;
  background-color: #ffffff;
  background-image: none;
  border-color: #cccccc;
  border-radius: 4px;
}

hr {
  margin-top: 5px;
  margin-bottom: 5px;
}

